* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f6f8;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background-color: #0b3c5d;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 12px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #1d7aa6;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
    background-color: white;
}

.content h1 {
    color: #0b3c5d;
    margin-bottom: 20px;
}

.content h2 {
    margin-top: 25px;
    color: #1d7aa6;
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    overflow-x: auto;
}

.note {
    background-color: #e3f2fd;
    padding: 15px;
    border-left: 5px solid #1d7aa6;
    margin-top: 20px;
}

.exercice {
    background-color: #fff3cd;
    padding: 15px;
    margin-top: 25px;
    border-left: 5px solid #ff9800;
}


table{
    border-collapse: collapse;
    width: 100%;
}

table tr {
    border: 2px solid gray;
}
table tr td{
    border: 2px solid gray;
}
table tr th{
    border: 2px solid gray;
}